* {
    padding: 0;
    margin: 0;
    border: none;
    appearance: none;
}
body {
    display: none;
}

.siteNavbar {
    &[class~='lazy'] {
        box-sizing    : border-box;
        block-size    : 3.25rem !important;
        overflow      : hidden;
        padding-block : 0px !important;
    }
}